@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
		
* {
	font-family: 'Open Sans', sans-serif;
}

:root{
    --main-color: rgb(227, 242, 253);
    --text-color: rgb(51, 72, 101);
    --second-color: rgb(138, 162, 188);

}

html,body{
    font-family: 'Roboto', sans-serif;
    background : var(--main-color);
    padding: initial;
    margin:initial;
    min-height: initial;
    overflow: initial;
}

body {
    padding: 25px 0 62px 0;
    margin:auto;
}

.menu,body{
    width : clamp(270px, 95%, 900px);
}

body > *:not(:first-child) {
    margin-top : 25px;
}

.wrap-info {
    /*background:#fff;*/
    display:none;
    color: var(--text-color);
}

.wrap-info.active {
    display: block;
}

.wrap-info > h2{
    border-radius:15px;
    background-color: white;
    padding: 10px 15px;
    display:inline-block;
    text-align:center;
    margin:0;
}

.wrap-info > .description , .credit{
    background:var(--second-color);
    padding: 15px;
    text-align: center;
    border-radius:15px;
}

.credit{
    margin-top:10px;
    background:var(--second-color);
    text-align:center;
}

.credit>*{
    display:block;
}

.coupe{
    position: relative;
}

.coupe > img {
    height: 100%;
}

.coupe > p {
    position: absolute;
    top: 5%;
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin:0;
}

.c1 {
    background-color: #fff;
    text-align: center;
    color: var(--text-color);
    border-radius:30px;
    padding: 0 5px;
    display: grid;
    align-items: center;
}

.menu{
    z-index: 9999;
    position: fixed;
    bottom: 0;
    height: 52px;
    background: var(--main-color);
    margin: 0;
    padding: 5px 0;
    display:flex;
}

.menu-top{
    height: 70px;
    background: var(--main-color);
    display:flex;
}

.menu-top > *{
    margin :auto;
    height:100%;
}

.menu-items {
    flex:1;
    background:var(--second-color);
    transition:0.5s;
    text-align:center;
    border-radius:30px;
    color: white;
    cursor:pointer;
}
.menu-items > * {
    vertical-align: middle;
    width: 30px;
    height:100%;
}

.menu-items:not(:nth-child(1)){
    margin-left: 5px;
}

.menu-items.active {
    flex:1.5;
    background:#0288d1;
}

.row-custom{
    position:relative;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    text-align: left;
}

.row-custom:first-child{
    margin-top: 5px;
}

.row-custom:last-child{
    padding-bottom: 5px;
    border-bottom: none;
}

.row-custom > p:nth-child(1){
    margin:0;
    max-width: 185px;
}

.row-custom > p:nth-child(2){
    margin:0;
    font-size: 12px;
}

.row-custom > p:nth-child(3){
    border-radius:30px;
    margin:0;
    position: absolute;
    right: 0;
    padding: 7px 14px;
    background-color: white;
    top: 0;
}

.res-circle {
    width: 66px;
    border-radius: 50%;
    background: rgba(0,0,0,0.5);
    line-height: 0;
    position: absolute;
    right:13px;
    top:13px;
}

.res-circle::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.res-circle > * {
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
}

.wrapper {
    display: flex;
    width:clamp(300px, 75%, 735px);
    margin: 15px auto;
}

.wrapper>*{
    flex-grow: 1;
}

.wrapper>*:not(:first-child){
    margin-left:15px
}

.button:hover{
    opacity: 75%;
}

a,input,input::placeholder {
    font-size:15px;
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color);
}

input, input:focus{
    width: 75%;
    display: block;
    height:50px;
    margin: 5px auto;
    background-color: var(--main-color);
    border:none ;
    border-radius: 50px; 
    outline: none;
    text-align: center;
    color: var(--text-color);
    transition: 0.5s;
}

input[type="checkbox"],label{
    vertical-align: middle;
    display: initial;
    width: initial;
    height: initial;
}

input:focus{
    box-shadow: inset -1px 1px 5px rgb(51, 72, 101, 45%);
}

.button{
    background-color:var(--text-color);
    color:white;
    border:none;
    border-radius: 50px;
    text-align: center;
    padding:15px 0;
    transition: 0.5s;
    display: block;
}

.button:hover{
    opacity: 75%;
}