:root {
    --green:    hsl(150, 70%, 30%);
    --red:      hsl(360, 85%, 45%);
    --blue:     hsl(220, 80%, 65%);
    --orange:   hsl(35, 100%, 65%);
    --yellow:   hsl(50, 100%, 50%);
    --lightblue:hsl(180, 70%, 70%);
    --purple:   hsl(275, 60%, 60%);

    --a:70%;
    --b:40%;

    --primary: var(--blue);
    --text: hsl(200, 40%, 3%);
    --background: hsl(200, 40%, 95%);
    --accent:  color-mix(in srgb, var(--primary) var(--a), var(--text) );
    --tertiary:  color-mix(in srgb, var(--primary) var(--b), var(--background) );
    --secondary: color-mix(in srgb, var(--tertiary) var(--b), var(--background) );


    --shadow: 0px 10px 15px -3px rgba(0,0,0,0.3) ;

}

@media (prefers-color-scheme: dark){
    :root	{

        --green:    hsl(150, 70%, 50%);
        --red:      hsl(360, 85%, 65%);

        --text: hsl(200, 40%, 95%);
        --background: hsl(200, 40%, 3%);

        --a:90%;
        --b:20%;

	}
}

html {
    font-family: 'Poppins', sans-serif ;
    background-color: var(--background);
    color: var(--text);
    font-size: 16;
    scroll-behavior: smooth;
}

body {
    margin : 0;
}

.mapboxgl-map {
    font-family: 'Poppins', sans-serif !important;
}

a:hover , button:hover, a:focus, button:focus{
    outline: unset;
    border: unset;
}

/* a[href] {
    cursor: pointer;
    transition: 0.3s;
}



a:visited,a[href] {
    color:unset;
    text-decoration: unset;
} */

button {
    background-color: var(--primary);
    border: unset;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 1rem;
    color : var(--text);
    font-family: 'Poppins';
}

button:hover, button:focus {

    background-color: var(--accent);
}


.iconbtn {
    padding:16px;
    background-color: unset;
    display: inline-block;
    line-height: 0;
}

.iconbtn , .iconbtn > svg{
    transition : 0.2s;
}

.iconbtn:hover,.iconbtn:focus{
    background-color: var(--primary);
}

.iconbtn:hover > svg ,.iconbtn:focus > svg {

    fill : var(--background);
}


.search{
    font-size: 1rem;
    color: var(--text);
    text-align: left;
    width: clamp(1px,100%,640px);
    background-color: var(--tertiary);
    border-radius: 16px;   
}

.search > div:nth-child(1){
    display: flex;
    font-size: 1rem;
    width: calc( 100% - 32px );
    padding: 0 8px;
    align-items: center;
}

input.searchbar  {
    all:unset;
    flex:1;
    padding: 10px 5px;
    width: inherit;
    font-size: 16px;
    height: 20px;


}

input.searchbar ~ svg {
    color: var(--text);
}

.search > div:nth-child(2){
    display: none;
    border-radius: 0 0 16px 16px;   
    overflow: hidden;
}

.search:focus-within > div:nth-child(2){
    display: block;

}

.search > div:nth-child(2) > button{
    background-color: unset;
    width: 100%;
    padding: 8px 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display:block;
    text-align: left;
    border-radius: unset;
  
}
.search > div:nth-child(2) > button:focus , .search > div:nth-child(2) > button:hover {
    outline: unset;
    background-color: rgba(0,0,0,0.3);
}

.mapboxgl-ctrl-top-left {
    width: calc(100% - 20px);
    padding: 10px;
    margin:0;
}

.mapboxgl-ctrl-top-left > .mapboxgl-ctrl.search{
    margin:0;
}
